.container {
    padding-left: 0px;
}
.thick {
    font-weight: bold;
    font-size: 18px;
}

.map-overlay input {
    cursor: auto;
}

.map-overlay {
    min-width: 300px;
    max-width: 350px;
}

.disabled-button{
    opacity: 0.5;
    pointer-events: none;
}