.container {
    padding-left: 0px;
}
.thick {
    font-weight: bold;
    font-size: 18px;
}

.map-overlay input {
    cursor: auto;
}

.map-overlay {
    min-width: 300px;
    max-width: 350px;
}

.map-overlay-timeline {
    min-width: 80%;
    max-width: 90%;
}

.disabled-button{
    opacity: 0.5;
    pointer-events: none;
}

.dropzone {
    background: white;
    padding: 0;
    width: 150px;
    max-width: 500px;
    margin: 0 auto;
    min-height: 50px;
    border-radius: 5px;
    border: 2px dashed rgb(0, 135, 247);
    border-image: none;
}

.foot-note {
    font-size: 7pt;
    color: #9E9E9E;
    margin: 10px 0 0 0;
    line-height: 1;
} 

.bottom {
    top: unset;
    bottom: 0;
}